<div class="ds-input-wrapper">
  @if (iconLeft()) {
    <span class="ds-input-icon-left" aria-hidden="true">{{ iconLeft() }}</span>
  } @else {
    <ng-content select="[slot=icon-left]"></ng-content>
  }

  <input
    [type]="type()"
    [class]="inputClasses()"
    [placeholder]="placeholder()"
    [value]="internalValue()"
    [disabled]="state() === 'disabled'"
    (input)="onInput($event)"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />

  @if (iconRight()) {
    <span class="ds-input-icon-right" aria-hidden="true">{{ iconRight() }}</span>
  } @else {
    <ng-content select="[slot=icon-right]"></ng-content>
  }

  <ng-content></ng-content>
</div>
